{{#each notifications}}
    <li class="message message-info" data-type="selectable" >
        <h4>
            {{heading}}
        </h4>
        <p>{{description}}</p>
        <p>{{timeStamp}}</p>
    </li>
{{/each}}