#image {
    width: 100%;
}

#floor-image {
    width: 100%;
}

#image canvas {
    width: 100%;
}

#svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.analytics-options{
	float: right;
}
.analytics-options label{
	width: 100%;
	padding: 12px;
}

.keys {
	margin-top: 1em;
}
.keys .wr-stats-board-sidebar{
	width: 17%;
	height: 30px;
	padding: 2px 0px;
}