# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea
*.ids
# Mac crap
.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#cache folders
cache/
!AndroidTVGateway/agent/app/src/main/java/org/wso2/androidtv/agent/cache
# Package Files #
*.jar

.gradle
local.properties
build/
*.zip
